[Unit]
Description=Sn9Trader Signal Combiner
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/Users/samarth/Downloads/Official/PROJECTS/CODES/Python/Projects/sn9trader
ExecStart=/bin/bash -c '/Users/samarth/Downloads/Official/PROJECTS/CODES/Python/Projects/sn9trader/venv/bin/python /Users/samarth/Downloads/Official/PROJECTS/CODES/Python/Projects/sn9trader/signal_combiner.py >> /Users/samarth/Downloads/Official/PROJECTS/CODES/Python/Projects/sn9trader/logs/signal.log 2>&1'
User=samarth
